.addRecipe {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f6f6f6;
  padding: 3rem;
  width: 50vw;
  min-height: 98vh;
}

.recipe-info {
  background: white;
  padding: 3rem;
  padding-top: 2rem;
}

.recipe-info > label > input {
  padding: 0.5rem;
  background: #f6f6f6;
  color: #757575;
}

.addRecipe__option--default {
  background: #f6f6f6;
  color: #757575;
  padding: 0.1rem 0.5rem;
  font-size: 1.2rem;
}

::placeholder {
  color: #757575;
  font-size: 1.2rem;
}

.recipe-info > label {
  margin: 0 1rem;
}

.ingredients-info {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 3rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.recipe-text {
  background: white;
  padding: 3rem;
  padding-top: 2rem;
  margin-top: 2rem;
}

.recipe-text > label > textarea {
  resize: none;
}

.recipe-text > label {
  display: flex;
  flex-direction: column;
}

.addRecipe__btn {
  margin-top: 2vh;
  padding: 1.5vh 1vw;
  font-weight: 600;
  background: #f15152;
  color: #fdf7fa;
  border: none;
  width: 12vw;
}

.addRecipe__btn:hover,
.addRecipe__btn--remove:hover,
.addRecipe__btn-submit:hover {
  background: #f36666;
}

.addRecipe__btn--remove {
  margin-left: 1vw;
  padding: 0.5vh 0;
  border-radius: 100%;
  width: 1.2vw;
}

.addRecipe__btn-submit {
  padding: 1rem;
  margin-top: 1rem;
  border-radius: 999px;
  width: 25vw;
}

.method {
  white-space: pre-line;
}
@media (max-width: 480px) {
  .addRecipe {
    width: 70vw;
    align-items: center;
  }
  .addRecipe__btn-submit {
    width: 70vw;
  }
  .addRecipe__option--default {
    width: 75vw;
  }
  .recipe-info > label > input {
    width: 70vw;
    margin: 1vh 0;
  }
}
