.recipes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f6f6f6;
  min-height: 98vh;
  width: 50vw;
}

.recipes-menu {
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 2vh;
  padding: 1rem 3rem;
  width: 30vw;
}

.recipes-menu > span {
  display: flex;
  justify-content: center;
}

.recipes__search-container {
  display: flex;
  align-items: center;
  justify-content: start;
  border: 2px solid black;
  border-radius: 999px;
  padding: 0 1vw;
  margin-bottom: 2vh;
  background: #f6f6f6;
}

.recipes__search-container > input {
  padding: 1.2vh 0vw;
  border: none;
  flex: 1;
  background: none;
}

.recipes__search-container > input:focus-visible {
  outline: none;
}

.recipes-menu > span > button {
  background: #f15152;
  color: #fdf7fa;
  border: none;
  margin: 0 0.5vw;
  padding: 1vh 0.5vw;
  border-radius: 999px;
}

.recipes__link {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-left: 1.5rem;
  text-decoration: none;
  color: black;
  opacity: 0.7;
}
.recipes__link:hover,
.recipes__link:active {
  color: cadetblue;
}

.recipes-top {
  background: white;
  padding: 1rem 3rem;
  margin: 2rem;
}

.recipes-top-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  width: 30vw;
  background: #f15152;
  color: #fdf7fa;
}

.recipes-main {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.recipes-list {
  list-style: none;
}

@media (max-width: 480px) {
  .recipes {
    width: 100vw;
  }

  .recipes-menu {
    width: 80vw;
  }

  .recipes-top {
    width: 65vw;
    margin: 0;
    margin-top: 2vh;
  }

  .recipes-list {
    margin: 0;
    padding: 0;
  }

  .recipes-top-info {
    width: 65vw;
    padding: 1vh 2vw;
  }
}
