@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;700&display=swap");

.recipeDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f6f6f6;
  min-height: 98vh;
  font-family: "Raleway", sans-serif;
  width: 50vw;
}

.recipeDetail__heading {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 3px solid #f15152;
  padding: 2rem;
  padding-bottom: 0;
  margin-top: 2rem;
  width: 40vw;
  background: white;
}

.recipeDetail__heading > span > h3 {
  font-size: 2rem;
  text-transform: uppercase;
}

.recipeDetail__header > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1vh 0.8vw;
}

.recipeDetail__header > span > h5 {
  margin-left: 0.6vw;
}

.recipeDetail__header {
  display: flex;
  justify-content: space-between;
  width: 25vw;
}

.recipeDetail__main {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  width: 40vw;
}

.recipeDetail__list {
  list-style-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNS40OCAxMC4wODlsMS41ODMtMS40NjRjMS44NTQuODk2IDMuMDI4IDEuNTc4IDUuMTEgMy4wNjMgMy45MTYtNC40NDIgNi41MDMtNi42OTYgMTEuMzExLTkuNjg4bC41MTYgMS4xODZjLTMuOTY1IDMuNDYtNi44NyA3LjMxNC0xMS4wNTEgMTQuODE0LTIuNTc5LTMuMDM4LTQuMzAxLTQuOTc0LTcuNDY5LTcuOTExem0xNC40MDcuNTU3Yy4wNjcuNDQzLjExMy44OTMuMTEzIDEuMzU0IDAgNC45NjItNC4wMzggOS05IDlzLTktNC4wMzgtOS05IDQuMDM4LTkgOS05YzEuOTcxIDAgMy43OS42NDQgNS4yNzQgMS43MjMuNTIxLS40NDYgMS4wNTItLjg4MSAxLjYtMS4zMDMtMS44ODQtMS41MTEtNC4yNzEtMi40Mi02Ljg3NC0yLjQyLTYuMDc1IDAtMTEgNC45MjUtMTEgMTFzNC45MjUgMTEgMTEgMTEgMTEtNC45MjUgMTEtMTFjMC0xLjE3OS0uMTktMi4zMTMtLjUzNC0zLjM3OC0uNTI4LjYzMy0xLjA1MiAxLjMwNS0xLjU3OSAyLjAyNHoiLz48L3N2Zz4=");
  padding: 2rem 1rem;
  background: white;
  min-width: 30%;
}

.recipeDetail__title {
  border-bottom: 2px solid #f15152;
}

.recipeDetail__list > ul > li {
  padding: 0.6rem 0;
}

.recipeDetail__method {
  padding: 2rem 1rem;
  background: white;
  min-width: 60%;
}

.recipeDetail__btn {
  margin-top: 2vh;
  padding: 1.5vh 1vw;
  font-weight: 600;
  background: #f15152;
  color: #fdf7fa;
  border: none;
  width: 12vw;
}

.recipeDetail__step {
  padding: 1rem 0;
}

.recipeDetail__comments {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipeDetail__comments > h3 {
  align-self: flex-start;
  margin-left: 2.5vw;
}

.recipeDetail__comment {
  display: flex;
  align-items: flex-start;
  background: white;
  margin-bottom: 1vh;
  width: 90%;
}

.recipeDetail__comment > span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 1vh 1vw;
}

.recipeDetail__comment > span > strong {
  color: #f15152;
  align-self: flex-start;
}

.recipeDetail__comment > span > p {
  align-self: flex-start;

  margin: 0;
  margin-left: 1vw;
}

.recipeDetail__comments > textarea {
  resize: none;
  margin: 0px;
  width: 860px;
  height: 96px;
}
