.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 98vh;
  width: 50vw;
  background: #f6f6f6;
}

form {
  display: flex;
  flex-direction: column;
  min-width: 20vw;
}

.signup__btn {
  margin-top: 2vh;
  min-width: 20vw;
  background: #f15152;
  color: #fdf7fa;
  border: none;
  padding: 2vh 0.5vw;
  border-radius: 999px;
}

.link-container > *,
.forgot-password-container > * {
  text-decoration: none;
  color: #f15152;
  font-weight: 500;
}

.signup > input {
  margin-bottom: 2vh;
}

@media (max-width: 480px) {
  .signup {
    height: 85vh;
    width: 100%;
  }
}
