@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

*,
*:_::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.App {
  display: flex;
}

button {
  cursor: pointer;
}

.main-screen-container {
  margin-left: 21vw;
}

@media (max-width: 480px) {
  .App {
    flex-direction: column;
  }
  .main-screen-container {
    margin: 0;
    height: 85vh;
    width: 100vw;
  }
}
